*{margin:0; padding:0; font-size:100%; font-weight:normal; vertical-align:baseline; background:transparent; border:none;}

/* - - - - - */

@font-face {
  font-family: 'IsaaxOrigin';
  src: url('woff2/IsaaxOrigin-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IsaaxSans';
  src: url('woff2/IsaaxSans-Regular.woff2') format('woff2');
}

/* - - - - - */

body{
    background: white;
    color: black;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

/* - - - - - */

h1, h2, h3, p, li, th, td, a{
    font-weight: lighter;
    line-height: 1.6em;
}

h1 {
    font-size: 1000%;
    line-height: 1.1em;
    margin-top: -15px;
}
h2 {
    font-size: 160%;
}
h3 {
    font-size: 120%;
}
p{
    font-size: 100%;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: gray;
}
img {
   vertical-align: bottom;
}

/* - - - - - */

header {
}
footer {
    font-size: 80%;
}

/* - - - - - */

#container{
}

.panel {
    background-size: cover;
    background-position: center;
}
#panel_0 {
    background-image: url("img/sec_0.png");
}
#panel_1 {
    background: #e5e5e5;
}
#panel_2 {
    background-image: url("img/sec_2.png");
}
#panel_3 {
    background-image: url("img/sec_3.png");
}
#panel_4 {
    background-image: url("img/sec_4.png");
}
#panel_5 {
    background: #e5e5e5;
}

/* - - - - - */

header h2 {
    margin-bottom: 1em;
}

/* - - - - - */

.box {
    width: 900px;
    padding: 30px;
    margin: 0 auto;
}

/* - - - - - */

.display_case_white {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-top: 0.5em;
    border-top: 1px solid white;
    color: white;
}
.display_case_black{
    text-align: left;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-top: 0.5em;
    border-top: 1px solid black;
    color: black;
}

/* - - - - - */

.font_sample {
    font-size: 320%;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    word-wrap: break-word;
}
.text_sample {
    font-size: 400%;
    line-height: 1.5em;
    letter-spacing: 0.0em;
    text-align: center;
}
.isaax_origin {
    font-family: IsaaxOrigin;
}
.isaax_sans {
    font-family: IsaaxSans;
}

/* - - - - - */

a.button {
    text-decoration: none;
}
.button {
	display: block;
	width: 236px;
	text-align: center;
    font-size: 140%;
    margin: 0 auto 10px;
    border: 2px solid white;
    border-radius: 4px;
}
.button .line_block, .button .fill_block{
    /*font-weight: 600;*/
    padding: 0.4em 0;
    -webkit-transition: all .2s;
    transition: all .3s;
}
.button .line_block{
    letter-spacing: 0.1em;
    color: white;
    background-color: none;
}
.button .fill_block{
    color: #2d3a59;
    background-color: white;
}
.button:hover > .line_block {
    color: #2d3a59;
    background-color: white;
}
.button:hover > .fill_block {
    color: white;
    background-color: rgba(0,0,0,0); /*noneはだめみたい*/
}

/* - - - - - */

.white_text {
    color: white;
}
.white_text a:link, .white_text a:visited {
    color: white;
}
.white_text a:hover {
    color: #cccccc;
}

/* - - - - - */

.sns_button {
    margin: 20px 0;
}

/* - - - - - */

.credit{
    text-align: right;
    font-size: 70%;
}
.credit a:link, .credit a:visited {
    color: white;
}
.credit a:hover {
    color: #cccccc;
}
